* {
  margin: 0px auto;
  padding: 0px;
}

body {
  margin: auto;
  max-width: 1000px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  height: 200px;
  -webkit-text-decoration: underline #ea082a;
          text-decoration: underline #ea082a;
  width: 1009px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header h1 {
  color: #ea082a;
  text-align: center;
  font-family: "Franklin Gothic Heavy", regular;
  padding-bottom: 35px;
  padding-top: 5px;
}

header nav {
  font-weight: bold;
  font-size: 20px;
  color: white;
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 80%;
  background-color: #ea082a;
}

header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

header .dropbtn {
  background-color: #ea082a;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  background-image: url(imagenes/logos/menu.png);
  background-size: 40px 40px;
}

header .dropdown {
  position: relative;
  display: inline-block;
}

header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .dropdown-content a:hover {
  background-color: #ddd;
}

header .dropdown:hover .dropdown-content {
  display: block;
}

header .dropdown:hover .dropbtn {
  background-color: #ea082a;
}

header .login2 {
  background-color: transparent;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  background-image: url(imagenes/logos/login.png);
  background-size: 40px 40px;
  display: none;
  margin-left: 755%;
}

header .login {
  position: relative;
  display: inline-block;
}

header .login-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 630%;
}

header .login-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .login-content a:hover {
  background-color: #ddd;
}

header .login:hover .login-content {
  display: block;
}

@media only screen and (min-width: 690px) {
  header h1 {
    font-size: 5.4vw;
  }
}

@media only screen and (max-width: 690px) {
  header h1 {
    margin-left: 150px;
    padding-bottom: 0px !important;
  }
  header ul {
    display: none !important;
  }
  header nav {
    display: inline !important;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  header .login2 {
    display: unset;
  }
}

@media only screen and (max-width: 865px) {
  ul {
    display: none !important;
  }
  nav {
    display: inline !important;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  .dropbtn {
    background-color: transparent !important;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .noticias {
  width: 60%;
  margin: 3%;
}

main .noticias .principal {
  margin-bottom: 35px;
}

main .noticias .principal .imagenCarousel {
  width: 95%;
  height: auto;
}

main .noticias .hiddenPrincipal {
  display: none;
}

main .noticias .secundarias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .noticias .secundarias .noticiaSecundaria {
  width: 40%;
  margin-right: 46px;
  margin-bottom: 20px;
}

main .noticias .secundarias .noticiaSecundaria img {
  width: 221px;
  height: 155px;
}

main .noticias .secundarias .noticiaSecundaria p {
  text-align: center;
  margin-top: 4px;
  font-weight: bold;
}

main aside {
  width: 28%;
  margin: 3%;
  background-color: #e6e9ed;
  border: 2px solid gray;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main aside .resultados {
  padding: 3px;
  padding-left: 13px;
  padding-right: 13px;
  border-bottom: 1px solid gray;
}

main aside .resultados .resultado {
  margin-bottom: 20px;
}

main aside .resultados .resultado div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main aside .resultados .resultado div img {
  width: 38px;
  height: 40px;
}

main aside .resultados .resultado div p {
  font-size: 9px;
  font-weight: bold;
}

main aside .resultados .resultado p {
  font-size: 11px;
}

main aside .directos {
  padding: 3px;
  padding-left: 13px;
  padding-right: 13px;
  margin-bottom: 30px;
}

main aside .directos .directo .hora {
  background-color: black;
}

main aside .directos .directo .hora p {
  color: white;
  text-align: center;
  font-size: 12px;
}

main aside .directos .directo .equipos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

main aside .directos .directo .equipos .equipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main aside .directos .directo .equipos .equipo p {
  margin: 0;
  margin-bottom: 2px;
}

main aside .directos .directo .equipos .versus {
  width: 34px;
  height: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

main aside .directos .directo .equipos img {
  width: 30px;
}

main aside .tituloJornada {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

main aside .fecha {
  font-size: 12px;
  margin-bottom: 30px;
}

main .titulo {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

main .parrafo {
  font-size: 15px;
  margin-bottom: 0px;
}

@media screen and (max-width: 460px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  main .noticias {
    width: 100%;
    margin: 10px 0;
  }
  main .noticias .principal #imagenCarousel {
    width: 100%;
    background: url(imagenes/imagenes/img2.png) no-repeat;
  }
  main .noticias .principal #keepReading {
    display: none;
  }
  main .noticias .hiddenPrincipal {
    display: block;
  }
  main .noticias .secundarias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  main .noticias .secundarias .noticiaSecundaria {
    width: 100%;
    margin: 0px;
  }
  main .noticias .secundarias .noticiaSecundaria img {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
  }
  .aside {
    margin: 0px;
    width: 99%;
    display: block;
  }
  #parrafoCarousel {
    display: none;
  }
}

footer {
  background-color: #ea082a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 8%;
}

footer .contenedor-redes-sociales {
  display: inline-block;
  width: 50%;
}

footer .contenedor-redes-sociales ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6%;
}

footer .contenedor-redes-sociales ul li {
  list-style: none;
}

footer .contenedor-redes-sociales ul li img {
  width: 80%;
}

footer .contenedor-redes-sociales ul li span {
  display: none;
}

footer li {
  list-style: none;
}

footer .contenedor-contacto-informacion {
  display: inline-block;
  width: 50%;
  color: white;
}

footer .contenedor-contacto-informacion .contenedor-contacto {
  float: left;
  width: 50%;
}

footer .contenedor-contacto-informacion .contenedor-informacion {
  float: left;
  width: 50%;
}
/*# sourceMappingURL=style.css.map */