body {
  margin: auto;
  max-width: 800px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
  height: 200px;
	h1{
    color: #EA082A;
    font-size: 120px;
    text-align: center;
    font-family: Franklin Gothic Book;
	}
  nav{
    background-color: #EA082A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: 40px;
    width: 800px;
  }
}

main {
  
  display: flex;

  .noticias {
    width: 60%;
    margin: 3%;

    .principal {
      margin-bottom: 35px;
      #carousel {
        width: 500px;
        height: 300px;
      }
  
    }
  
    .secundarias {
      display: flex;
      flex-wrap: wrap;
      .noticiaSecundaria {
        width: 40%;
        margin-right: 48px;
        img {
          // width: 200px;
          // height: 120px;
          width: 221px;
          height: 155px;
        }
        p{
          text-align: center;
          margin-top: 4px;
          font-weight: bold;
        }
      }
    }
  }
  

  aside {
    //width: 25%;
    width: 28%;
    margin: 3%;
    background-color: #e6e9ed;
    border: 2px solid gray;
    height: fit-content;
    

    .resultados {
      padding: 3px;
      padding-left: 13px;
      padding-right: 13px;
      border-bottom: 1px solid gray;
      .resultado {
        margin-bottom: 20px;
        div {
          display: flex;
          align-items: center;
          justify-content: space-around;
          img {
            width: 38px;
            height: 40px;
          }
          p{
            font-size: 9px;
            font-weight: bold;
          }
        }
        p{
          font-size: 11px;
        }
      }
    }

    .directos {
      padding: 3px;
      padding-left: 13px;
      padding-right: 13px;
      margin-bottom: 30px;
      .directo{
        .hora {
          background-color: black;
          p{
            color: white;
            text-align: center;
            font-size: 12px;
          }
          
        }
        .equipos {
          display: flex;
          justify-content: center;
          align-items: center;
          .equipo {
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
              margin: 0;
              margin-bottom: 2px;
            }
          }
          .versus {
            width: 34px;
            height: 25px;
            margin-right: 10px;
            margin-left: 10px;
          }
          img {
            width: 30px;
          }
        }
      }
    }

    .tituloJornada {
      font-weight: bold;
      font-size: 14px;
    }

    .fecha {
      font-size: 12px;
      margin-bottom: 30px;
    }
  }

  .titulo {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .parrafo {
    font-size: 15px;
    margin-bottom: 0px;
  }
}

